<p id="notice"><%= notice %></p>

<h1>Articles</h1>


<%= link_to 'Download as Excel', download_xlsx_path(format: :xlsx) %>


<table style="border: 1px solid black; border-collapse: collapse; margin-top: 15px">
  <thead style="border: 1px solid black; border-collapse: collapse">
    <tr>
      <th>Title</th>
      <th>Short description</th>
      <th>Author</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.short_description %></td>
        <td><%= article.author %></td>
        <td><%= article.published %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
